@import "variables";

@media screen and (min-width: 768px) {
  .main-container {
    display: flex;
    justify-content: end;
    width: 100%;
    position: relative;
  }

  .para-container {
    width: 85%;
    padding: 30px;
    font-size: 0.9em;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .social-list {
    height: fit-content;
    position: absolute;
    left: 10px;
    top: 100px;
    ul {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-direction: column;
      list-style: none;
      font-size: 0.8rem;
      padding: 5px;
      margin: 0 5px;
      a {
        text-decoration: none;
        color: black;
        a:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

//Responsive Phone screen
@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  .social-list {
    display: none;
  }

  .main-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .para-container {
    width: 90%;
    font-size: 0.85em;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
