@import "variables";

@media screen and (min-width: 768px) {
  .main-container {
    margin: 0 100px;
  }
}

//Responsive Phone screen
@media screen and (min-width: 360px) {
  .main-container {
    margin: 0 50px;
    p {
      font-size: 0.8rem;
    }
  }
}
